<link rel="stylesheet" href='/static/css/ie_fixes.css' type="text/css" media="screen, projection" />
</head>
<body>

<a href="https://github.com/jness/magicthegathering_djangoweb">
  <img style="position: absolute; top: 0; left: 0; border: 0;" 
   src="/static/images/github.png"
   alt="Fork me on GitHub">
</a>

<!-- start header --!>
<a href='update'><p align='right'><font size=2 color=blue>update</font></p></a>
<center>
<a href='/'><img border=0 src='/static/images/logo.jpg'></img></a><br><br>

<center>
<br><br>
<b>404 Page Not Found</b><br>
The requested URL was not found on this server.
<br><br>
<img src='/static/images/NotFound.jpg' />
<br><a href='/'>Cast Recall</a>
</center>

{% include 'footer.html' %}
