<html>
<head>
<title>Nessy's MTG Database</title>
<link rel="stylesheet" href='/static/css/hoverbox.css' type="text/css" media="screen, projection" />
<!--[if lte IE 7]>
<link rel="stylesheet" href='/static/css/ie_fixes.css' type="text/css" media="screen, projection" />
<![endif]-->
</head>
<body>

<a href="https://github.com/jness/magicthegathering_djangoweb">
  <img style="position: absolute; top: 0; left: 0; border: 0;" 
   src="/static/images/github.png"
   alt="Fork me on GitHub">
</a>

<!-- start header --!>
<a href='update'><p align='right'><font size=2 color=blue>update</font></p></a>
<center>
<img src='/static/images/logo.jpg'></img><br><br>

<table width='1024' align='center'>
    <tr>
    <td width='341' align='center'>
	<form name="input" action="." method="GET">
	    <font size=3><b>Sets:</b></font>
	    <select name="set">
	    {% for set in mtgsets %}
		{% if set == working_set %}
		    <option selected>{{ set }}</option>
		{% else %}
		    <option>{{ set }}</option>
		{% endif %}
	    {% endfor %}
	    </select>
	<input type="submit" value="Go" />
	</form>
    </td>

    <td width='341' align='center'>
	<form name="input" action="." method="GET">
	    <font size=3><b>Display Mode:</b></font>
	    <select name="display">
		{% if display == 0 %}
		    <option selected value='0'>All</option>
		{% else %}
		    <option value='0'>All</option>
		{% endif %}
		{% if display == 1 %}
		    <option selected value='1'>Owned</option>
		{% else %}
		    <option value='1'>Owned</option>
		{% endif %}

	    </select>
	<input type="submit" value="Go" />
	</form><br>

	<b>Color Select</b>
 	<a href='/?color=R'><img border=0 src='/static/images/R.gif' /></a> 
	<a href='/?color=G'><img border=0 src='/static/images/G.gif' /></a>
 	<a href='/?color=W'><img border=0 src='/static/images/W.gif' /></a>
	<a href='/?color=B'><img border=0 src='/static/images/B.gif' /></a>
 	<a href='/?color=U'><img border=0 src='/static/images/U.gif' /></a>
 	<a href='/?color=NULL'><img border=0 src='/static/images/colorless.gif' /></a>
    </td>

    <td width='341' align='center'>
	<form name="input" action="search" method="GET">
	    <font size=3><b>Search:</b></font>
	    <input type="txt" name="name" />
	    <select name='search_type'>
		<option>name</option>
		<option>type</option>
	    </select>
	<input type="submit" value="Go" />
	</form>
    </td>
    </tr>
</table>
</center>
