{% include 'header.html' %}
<!-- start card output --!>
<ul class="hoverbox">
<center>
<table width="1024" border="0" align="center">
    <tr bgcolor="#7D98A6">
        <td width="25"><b><a href='?order_by=owned&color={{ colors }}'>#</a></b>
        <td width="300"><b><a href='?order_by=name&color={{ colors }}'>Name</a></b>
        <td width="300"><b><a href='?order_by=type&color={{ colors }}'>Type</a></b>
        <td width="100"><b>Cost</b>
        <td width="75"><b>Damage</b>
        <td width="100"><b><a href='?order_by=rarity&color={{ colors }}'>Rarity</a></b>
        <td width="75"><b><a href='?order_by=price&color={{ colors }}'>Listed</a></b>
    </tr>

    {% for c in cards %}

    <tr bgcolor='#EEEEEE' 
	   onmouseover="style.backgroundColor='#b6c5cd';"
	   onmouseout="style.backgroundColor='#EEEEEE';">
        <td>{{ c.owned }}</td>
        <td>
           <a class="hoverbox" href="/gatherer/{{ c.name }}">{{ c.name }}
	      <img src="http://magiccards.info{{ c.image }}" alt="Loading..." class="preview" />
      	   </a>
        </td>
        <td>{{ c.type }}</td>

	<td>{% autoescape off %}{{ c.cost }}{% endautoescape %}</td>

	{% if c.damage %}
            <td>{{ c.damage }}</td>
        {% else %}
            <td></td>
        {% endif %}	

        <td>{{ c.rarity }}</td>
        <td>{% if c.prices %} ${{ c.prices.price_med }} {% endif %}</td>
    </tr>
    {% endfor %}
</table>
</ul>

{% include 'footer.html' %}
