{% include 'header.html' %}
<!-- start card output --!>
<ul class="hoverbox">

<center>
<table width="1024" border="0" align="center">
    <tr bgcolor="#7D98A6">
        <td width="25"><b><a href='?order_by=owned'>#</a></b>
        <td width="300"><b><a href='?order_by=name'>Name</a></b>
        <td width="300"><b><a href='?order_by=type'>Type</a></b>
        <td width="100"><b>Cost</b>
        <td width="75"><b>Damage</b>
        <td width="100"><b><a href='?order_by=rarity'>Rarity</a></b>
        <td width="75"><b>Listed</b>
    </tr>

    {% for c in cards %}

    <tr bgcolor='#eeeeee'>
        <td>{{ c.owned }}</td>
        <td>
           <a class="hoverbox" href="/gatherer/{{ c.name }}">{{ c.name }}
	      <img src="http://magiccards.info{{ c.image }}" alt="Loading..." class="preview" />
      	   </a>
        </td>
        <td>{{ c.type }}</td>
        <td>{{ c.cost }}</td>

	{% if c.damage %}
            <td>{{ c.damage }}</td>
        {% else %}
            <td></td>
        {% endif %}	

        <td>{{ c.rarity }}</td>
        <td>{{ c.prices.price_med }}</td>
    </tr>
    {% endfor %}
</table>
</ul>

{% include 'footer.html' %}
