{% include 'header.html' %}
<!-- start card output --!>
<ul class="hoverbox">

{% for set in sets_with_cards %}
<center>
<h2>{{ set }}</h2>
<table width="1024" border="0" align="center">
    <tr bgcolor="#7D98A6">
        <td width="75"><b><a href='?order_by=owned'>Owned</a></b>
        <td width="300"><b><a href='?order_by=name'>Name</a></b>
        <td width="300"><b><a href='?order_by=type'>Type</a></b>
        <td width="100"><b>Cost</b>
        <td width="100"><b>Color</b>
        <td width="110"><b>Damage</b>
        <td width="110"><b><a href='?order_by=rarity'>Rarity</a></b>
    </tr>

    {% for c in cards %}
    {% if c.mtgset == set %}

    <tr bgcolor='#eeeeee'>
        <td>{{ c.owned }}</td>
        <td>
           <a class="hoverbox" href="/gatherer/{{ c.name }}">{{ c.name }}
	      <img src="http://magiccards.info{{ c.image }}" alt="Loading..." class="preview" />
      	   </a>
        </td>
        <td>{{ c.type }}</td>
        <td>{{ c.cost }}</td>

	{% if c.color %}
            <td><img src='/static/images/{{ c.color }}.gif' /></td>
	{% else %}
            <td></td>
	{% endif %}

	{% if c.damage %}
            <td>{{ c.damage }}</td>
        {% else %}
            <td></td>
        {% endif %}	

        <td>{{ c.rarity }}</td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
<br><br>
{% endfor %}
</ul>

{% include 'footer.html' %}
