<html>
<head>
<title>Nessy's MTG Database</title>
<link rel="stylesheet" href='/static/css/hoverbox.css' type="text/css" media="screen, projection" />
<!--[if lte IE 7]>
<link rel="stylesheet" href='/static/css/ie_fixes.css' type="text/css" media="screen, projection" />
<![endif]-->
</head>
<body>

<a href="https://github.com/jness/django-magicthegathering">
  <img style="position: absolute; top: 0; left: 0; border: 0;" 
   src="/static/images/github.png"
   alt="Fork me on GitHub">
</a>

<a href='update'><p align='right'><font size=2 color=blue>update</font></p></a>
<center>

<img src='/static/images/logo.jpg' /><br><br>

<table width='100%' align='center' cellpadding='5'>
  <tr>
  <td width='510' align='right'>
     <g:plusone size="tall"></g:plusone>
        <script type="text/javascript">
          (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
        </script>
  </td>

  <td width='4' align='center'>
<a href="http://twitter.com/share" class="twitter-share-button" data-url="http://mtg.flip-edesign.com/" data-count="vertical" data-via="flip387">Tweet</a><script type="text/javascript" src="http://platfor
m.twitter.com/widgets.js"></script>
  </td>

  <td width='510' align='left'>
    <div id="fb-root"></div><script 
    src="http://connect.facebook.net/en_US/all.js#appId=261976693812806&amp;xfbml=1"></script>
    <fb:like href="http://mtg.flip-edesign.com/" send="false" layout="box_count" 
    width="450" show_faces="false" font=""></fb:like>
  </td>

  </tr>
</table>

<br><br>

<table width='1024' align='center'>
    <tr>
    <td align='center'>
        <a href='/'><font color='blue'>Owned</font></a> | <a href='/wanted'><font color='blue'>Wanted</font></a>  
    </td>
    </tr>
</table>
</center>